.testimonial{
    /* background: red; */
    width: 450px;
    height: 280px;
    border: .1px solid #d4af7b;
    margin: 1em;
    border-radius: 10px;
    cursor: default;
    /* box-shadow: 1px 1px 8px black; */

}
.testimonial .content{
    /* background:#d5b07c66; */
    /* background: rgb(0, 0, 0,.8); */
    color: white;
    /* background: black; */
    color: black;
    border-radius: 10px;
    font-size: 1.1em;
    text-align: start;
    padding: .4em;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* filter: brightness(.5); */
    width: 80%;
    margin: 1.5em auto;
    height: 150px;
    display: grid;
    place-content: center;
}
.testimonial .name{
    color: #d4af7b;
    font-weight: 600;
    font-size: 1.2em;
}

@media screen and (max-width: 480px) {
    .testimonial{
        /* background: red; */
        width: 280px;
        /* width: 100%; */
        height: 250px;
        border: .1px solid #d4af7b;
        margin: 1em;
        border-radius: 10px;
        cursor: default;
        /* scale: .73; */
        /* box-shadow: 1px 1px 8px black; */
    
    }
    .testimonial .content{
        font-size: .9em;
        padding: .1em;
        width: 90%;
        margin: .9em auto;
        height: 150px;
    }
    .testimonial .name{
        font-size: 1.3em;
    }
}