*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.App {
  text-align: center;
  overflow: hidden!important  ;
}

body{
  overflow-x: hidden;
}

.spinner {
  height: 20px;
  width: 20px;
  border: 3px solid white;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin 0.9s infinite linear forwards;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}